body{
    background-color: #000000d0;
    color: rgb(0, 0, 0) !important;
}

.header{
    background-color: lightblue;
    display: flex;   
    align-items: center;
    gap: 100px;
    justify-content: center;
    padding: 20px;
}

ul{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
li{
    list-style-type: none;
}
